.trackCont {
    width: 100%;
    overflow: auto;
}

#track {
    display: flex;
    flex-direction: row;
}

#track div,
#track iframe {
    max-width: 400px;
    min-width: 300px;
}

.hide {
    max-height: 0;
    overflow: hidden;
}
